.section{	
	border-top: 1px solid #D6D6D8;
	margin-top: 50px;
}

.circle {
	width: 50px;
	height: 50px;
	border: 5px solid #333447;
	color: #333447;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 30px;
	text-align:center;
	line-height:50px;
	font-size: 1.375rem;
	position:relative;
}

.getStartItem{
	font-size: 1.375rem;
	color: #333447;
	line-height:50px;
}


button {
  height: 48px;
  width: 250px;
  text-align: center;
  color: #333447;
  font-size: 1.2rem;
  font-weight: 200;
  background: transparent;
  border: 1px solid #333447;
  border-radius: 4px;
  margin: 20px 0;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}

button:hover {
  border: 1px solid #e91e63;
  color: #e91e63;
}

button:active {
  outline: none;
}

@media only screen and (min-width: 45em) {
	#header{
		height: 80px;
	}
}
